body {
  background-color: rgb(253 , 251 , 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(82 , 183 , 136);
  height: 9%;
  text-align: left;
  z-index: 10;
  font-family: Texturina, serif;
  font-weight: 600;
}

#logo {
  height: 100%;
}

#titulo {
  margin: 1%;
  position: relative;
  display: inline-block;
  bottom: 30%;
  color: rgb(108 , 200 , 202);
  text-shadow: 1.5px 1.5px black;
}

main {
  position: absolute;
  background-color: rgb(108 , 200 , 202);
  width: 66%;
  top: 10%;
  left: 1%;
  padding: 1%;
  padding-right: 0;
  margin: 1px;
  border-radius: 30px;
  box-shadow: 5px 5px black;
  border: 1px solid;
}

#minha_foto {
  position: relative;
  float: left;
  height: 330px;
  margin-top: 7px;
  margin-left: 5px;
  border: 10px ridge silver;
}

#aprendidas {
  position: relative;
  color: white;
  width: 50%;
  left: 10%;
  margin-top: -20px;
  padding-top: 0;
  text-align: left;
  text-shadow: 1.2px 1.2px black;
}

#nao-aprendidas {
  position: relative;
  color: white;
  width: 35%;
  right: 0;
  margin-top: -382px;
  text-align: center;
  float: right;
  text-shadow: 1.2px 1.2px black;
}

.icon {
  float: right;
  position: relative;
  overflow: clip;
  border-radius: 100%;
  height: 25px;
  margin: 0;
  right: 10%;
  box-shadow: 3px 3px black;
}

li {
  text-align: left;
  margin: 10px;
  font-size: large;
}

#rodape {
  position: fixed;
  width: 100%;
  height: 5%;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 7px;
  border-style: solid none none;
  border-width: 1px;
  background-color: rgb(82 , 183 , 136);
  z-index: 10;
}

.lado-esquerdo {
  color: black;
  font-family: Lora, serif;
  font-size: large;
  text-shadow: 1.5px 1.5px white;
  background-color: rgb(255 , 245 , 204);
  position: absolute;
  width: 33%;
  top: 480px;
  left: 33%;
  padding: 1%;
  float: left;
  border-radius: 30px;
  box-shadow: 5px 5px black;
  text-align: center;
  border: 1px solid;
}

#trybe {
  float: left;
  position: relative;
  width: 20%;
  margin-left: 7%;
}

.lado-direito {
  position: absolute;
  top: 10%;
  right: 1.5%;
  width: 27%;
  background-image: url('assets/paper-background.jpg');
  background-size: cover;
  padding: 1%;
  border-radius: 30px;
  padding-top: 7%;
  float: right;
  box-shadow: 5px 5px black;
  border: 1px solid;
}

.poema {
  color: black;
  position: relative;
  margin-left: 7%;
  font-family: Dancing Script, cursive;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-shadow: 1.2px 1.2px white;
}

nav {
  width: 20%;
  position: absolute;
  top: 70%;
  left: 1%;
  padding: 1%;
  background-color: rgb(99 , 179 , 183);
  border-radius: 30px;
  text-align: center;
  box-shadow: 5px 5px black;
  border: 1px solid;
}

table {
  line-height: 20px;
  margin: auto;
  position: relative;
  font-size: large;
  text-shadow: 1px 1px white;
}

table .icon {
  height: 33px;
}
